/*
============== Variables ==============
*/
$text-primary: #000000;
$layout-brakepoint: 60rem;
/*
============== Global ==============
*/
@mixin desktop {
    @media only screen and (min-width: $layout-brakepoint) {
        @content;
    }
}

/*
============== Global ==============
*/
:root{
    font-size: 62.5%; // Sets 1rem to 10px in default 16px case
}

body{
    font-size: 160%; // In case of no rem support
    font-size: 1.6rem; // Sets back to 16px
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    color: $text-primary;

    @media only screen and (min-width: $layout-brakepoint){
        font-size: 200%;
    }

}

/* Spiner class */
.lds-dual-ring {
    $spiner-color: #000000;
    display: inline-block;
    width: 80px;
    height: 80px;

    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid $spiner-color;
        border-color: $spiner-color transparent $spiner-color transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  